@import "breakpoints";
.task{
  height: 100px;
  border: 1px solid black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .date{
    position: absolute;
    bottom: 4px;
    left: 4px;
    font-weight: bold;
    font-size: 12px;
  }
  @include smaller(md){
    height: 50px;
    width: 90%;
    margin: 0 auto;
    border: solid 4px;
  }
}
