.cal-card {
  margin: 10px auto;
  width: 90%;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

mat-card-header {
  display: flex;
  align-items: center;
  padding-bottom: 0;
}

.header-content {
  display: flex;
  flex-direction: column;
}

.severity {
  color: #f57c00;
  margin-left: auto;
  font-size: 0.9em;
  margin-top: 2px;
}

.action-buttons {
  display: flex;
  gap: 20px;
}

mat-card-title {
  font-weight: bold;
  font-size: 1.2em;
}

mat-card-content p {
  margin: 5px 0;
}

mat-chip-listbox {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

mat-chip {
  margin: 2px;
  color: white;
}
