/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/azure-blue.css";

body, html{
  height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input{
  height: 40px;
  font-size: 16px;
  min-width: 250px;
  padding-inline: 10px;
}
.success-snackbar {
  background-color: #4caf50;
  color: #ffffff;
}

.error-snackbar {
  background-color: #f44336;
  color: #ffffff;
}

.dialog-responsive {
  width: 600px
}

@media only screen and (max-width: 760px) {
  .dialog-responsive {
    width: 200px;
  }
}
